<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <style>
        #is_draft {
            display: none;
        }
    </style>
    <link href="/static/css/story.css" rel="stylesheet"/>
    <link href="/static/css/background.css" rel="stylesheet"/>
</head>

<body>

<!-- ----------------- NAV BAR ------------------ -->
{% include 'html_components/nav.html' %}

<div id="story-edit-container">
    <script>
        var temploc = window.location.href.substring(0, window.location.href.lastIndexOf("/"))
        storyId = parseInt(temploc.substring(temploc.lastIndexOf('/') + 1));
        story_edit_render(storyId)
    </script>
</div>

</div>


<script>

    username = sessionStorage.getItem("username")
    if (!username) {
        window.location.href = '/login';
    }

    let manual_unload = false

    //window.addEventListener('beforeunload', evt => {
        //console.log('event ' + manual_unload)
        //if (manual_unload) {
        //    return false
        //}

        //evt.preventDefault()
        //console.log('beforeunload')
        //fetch("", {method: 'DELETE'})
        //return true
    //});
</script>

</body>

</html>
