<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
    <link href="/static/css/background.css" rel="stylesheet"/>
</head>

<body>

<!--Navigation bar-->
{% include 'html_components/nav.html' %}
<!--end of Navigation bar-->

<!-- story, marked, val -->

<div class="container" style="width: 100%" id="story-container">
    <script>

        code = 0

        storyId = parseInt({{ data | tojson }});
        
        story_render(storyId)

    </script>
</div>
</body>

</html>
