<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/sidebar.css" rel="stylesheet">
    <script src="/static/scripts/requests.js"></script>

</head>
<body>

<!--Navigation bar-->
{% include 'html_components/nav.html' %}

<!--end of Navigation bar-->
<div class="container-fluid">
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-white border-right" id="sidebar-wrapper" id="sidebar-wrapper">
            <i class="fas fa-angle-left fa-2x togglebutton" id="menu-toggle"></i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <br>

            <h4>Followed users</h4>

            <div class="list-group list-group-flush" id="followed-list">

                <script>
                    followed()
                </script>


                {% for user in users %}
                <div class="list-group-item d-flex justify-content-between align-items-center" id="user_{{ user.id }}">
                    <a class="text-dark btn" disabled="true"
                       href="/users/{{ user.id }}">{{ user.username }}</a>
                    <a type="button" class="btn badge badge-danger badge-pill bg-danger text-white"
                       onclick="unfollow({{ user.id }})">
                        Unfollow
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="jumbotron bg-white" id="page-content-wrapper">

            <!-- Story list -->
            <ul class="list-group">
                <div class="row">

                    <div class="col-md-12" id="story-list">
                        <script>

                            story_list(true)

                        </script>
                    </div>

                    <div class="container text-center justify-content-center align-items-center h-100"
                         id="page-content-wrapper">

                    </div>

                </div>
            </ul>

        </div>
    </div>


</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if (!$("#wrapper").hasClass("toggled")) {
            $("#menu-toggle").addClass("toggled");
            $("#menu-toggle").addClass("fa-angle-left");
            $("#menu-toggle").removeClass("fa-angle-right");
        } else {
            $("#menu-toggle").removeClass("toggled");
            $("#menu-toggle").removeClass("fa-angle-left");
            $("#menu-toggle").addClass("fa-angle-right");
        }

    });

</script>

</body>
</html>
