<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
    <link href="/static/css/background.css" rel="stylesheet"/>
    <script src="/static/scripts/components/BigStoryComponent.js"></script>
    <script src="/static/scripts/requests.js"></script>
</head>

<body>

<!--Navigation bar-->
{% include 'html_components/nav.html' %}
<!--end of Navigation bar-->

<!-- story, marked, val -->

<div class="container" style="width: 100%" id="story-container">
    <script  type="text/javascript">

        code = 0

        storyId = parseInt({{ data | tojson }});
        
        story(storyId)        

        function like(url) {
            react(url, 'like')
        }

        function dislike(url) {
            react(url, 'dislike')
        }

        function react(url, val) {
            let formData = new FormData()
            var payload = {}
            formData.append('react', val)
            formData.forEach((value, key) => {payload[key] = value});
            var json = JSON.stringify(payload)
            var path = window.location.pathname.split('/')
            url = path[2] // Get the storyid from url
            fetch(url, {method: 'POST', body: json})
                .then(response => {
                    code = response.status
                    response.json()
                })
                .then(data => {
                    if (val === 'like') {
                        story.likes++;
                        if (data.message === 'Reaction updated')
                            story.dislikes--;
                    }
                    else {
                        story.dislikes++;
                        if (data.message === 'Reaction updated')
                            story.likes--;
                    }
                    story.update()
                })
                .catch(msg => {
                    if (code != 400 && code != 404 && code != 403 && code != 410)
                        msg = 'An error occurred while processing your request. Please try again later.'
                    $('#message').text(msg)
            })
        }
    </script>
</div>
</body>

</html>
