<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/sidebar.css" rel="stylesheet">
    <title>Users</title>
</head>
<body>

<!--Navigation bar-->
{% include 'html_components/nav.html' %}

<!--end of Navigation bar-->
<div class="container-fluid">
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-white border-right" id="sidebar-wrapper" id="sidebar-wrapper">
            <i class="fas fa-angle-left fa-2x togglebutton" id="menu-toggle"></i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <br>

            <h4>Users</h4>

            <div class="list-group list-group-flush" id="users-list">
                <script>
                    get_users()
                </script>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="container text-center justify-content-center align-items-center h-100" id="user-wall">
             <div class="col-md-12" id="story-list">

            <h3 class="display-5" style="margin-top: 4rem">Select one user to see the wall or just read the last
                story</h3>

        </div>
    </div>
</div>

<script>

    username = sessionStorage.getItem("username")
    if (!username) {
        window.location.href = '/login';
    }

    search_id = sessionStorage.getItem("search_id")
    if(search_id){
        sessionStorage.setItem("search_id","")
        get_users_story_list(search_id)
    }

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if (!$("#wrapper").hasClass("toggled")) {
            $("#menu-toggle").addClass("toggled");
            $("#menu-toggle").addClass("fa-angle-left");
            $("#menu-toggle").removeClass("fa-angle-right");
        } else {
            $("#menu-toggle").removeClass("toggled");
            $("#menu-toggle").removeClass("fa-angle-left");
            $("#menu-toggle").addClass("fa-angle-right");
        }

    });

</script>

</body>
</html>

